<style>
    /* You can add global styles to this file, and also import other style files */
.table-icon {
    width: 20px;
    height: 20px;
}
</style>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Available drugs</h4>
                        <p class="card-category">List of available drugs</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Expiration date
                                    </th>
                                    <th>
                                        Production date
                                    </th>
                                    <th>
                                        Side effect fix
                                    </th>
                                    <th>
                                        Prohibited condition
                                    </th>
                                    
                                </thead>
                                <tbody>
                                   <tr *ngFor="let drug of drugs">
                                        <td>
                                            {{drug.name}}
                                        </td> <td>
                                            {{drug.expiration_date || '-'}}
                                        </td> <td>
                                            {{drug.production_date|| '-'}}
                                        </td> <td>
                                            {{drug.side_effect_fix|| '-'}}
                                        </td> <td>
                                            {{drug.prohibited_condition|| '-'}}
                                        </td>
                                       
                                   
                                        <!-- <td>
                                            {{patient.given_vaccines_ids}}
                                        </td>
                                        <td>
                                            {{patient.doses_received}}
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Available vaccines</h4>
                        <p class="card-category">List of available vaccines</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                       Edition date
                                    </th>
                                    
                                </thead>
                                <tbody>
                                   <tr *ngFor="let vaccine of vaccines">
                                        <td>
                                            {{vaccine.batch_id}}
                                        </td> <td>
                                            {{vaccine.name || '-'}}
                                        </td> <td>
                                            {{vaccine.description|| '-'}}
                                        </td> <td>
                                            {{vaccine.expiration_date|| '-'}}
                                        </td> 
                                       
                                   
                                        <!-- <td>
                                            {{patient.given_vaccines_ids}}
                                        </td>
                                        <td>
                                            {{patient.doses_received}}
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  