<style>
    /* You can add global styles to this file, and also import other style files */
.table-icon {
    width: 20px;
    height: 20px;
}
</style>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Add a drug</h4>
                        <p class="card-category">Complete drug data</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input #name matInput placeholder="Name" type="text">
                                  </mat-form-field>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input #expiration_date matInput placeholder="Expiration" type="date">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input #production_date matInput placeholder="Production" type="date">
                                  </mat-form-field>
                                </div>
                            </div>
  
                            <div class="row">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input #side_effect_fix matInput placeholder="Side effect fix" type="text">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input #prohibited_condition matInput placeholder="Prohibited condition" type="text">
                                  </mat-form-field>
                                </div>
                                </div>
                     
                         
                            <button mat-raised-button type="submit" (click)="addDrug({
                                name:name.value,
                                expiration_date:expiration_date.value, 
                                production_date: production_date.value, 
                                side_effect_fix: side_effect_fix.value,
                                prohibited_condition: prohibited_condition.value})"class="btn btn-danger pull-right">Add drug</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
              <div class="col-md-3">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Side effects</h4>
                        <p class="card-category">Side effects list</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Side effect
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                </thead>
                                <tbody>
                                   <tr *ngFor="let side_effect of sideEffects">
                                        <td>
                                            {{side_effect.name}}
                                        </td> 
                                        <td>
                                            {{side_effect.description}}
                                        </td> 
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Conditions list</h4>
                        <p class="card-category">List of possible prohibited conditions</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Condition
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    
                                </thead>
                                <tbody>
                                   <tr *ngFor="let condition of conditionsArray">
                                        <td>
                                            {{condition.name}}
                                        </td> 
                                        <td>
                                            {{condition.description}}
                                        </td> 
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Available drugs</h4>
                        <p class="card-category">List of available drugs</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Expiration date
                                    </th>
                                    <th>
                                        Production date
                                    </th>
                                    <th>
                                        Side effect fix
                                    </th>
                                    <th>
                                        Prohibited condition
                                    </th>
                                    <th>
                                        Prohibited condition description
                                    </th>
                                    
                                </thead>
                                <tbody>
                                   <tr *ngFor="let drug of drugs">
                                        <td>
                                            {{drug.name[0]}}
                                        </td> <td>
                                            {{drug.expiration_date || '-'}}
                                        </td> <td>
                                            {{drug.production_date|| '-'}}
                                        </td> <td>
                                            {{drug.side_effect_fix|| '-'}}
                                        </td> <td>
                                            {{drug.prohibited_condition|| '-'}}
                                        </td>
                                        <td>
                                            {{drug.description || '-'}}
                                        </td>
                                       
                                        <td>
                                            <img (click)="deleteDrug(drug.name[0])" class="table-icon" rel="icon" type="image/png" src="./../../assets/img/icons/trash.png" />
                                        </td>
                                        <!-- <td>
                                            {{patient.given_vaccines_ids}}
                                        </td>
                                        <td>
                                            {{patient.doses_received}}
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Available vaccines</h4>
                        <p class="card-category">List of available vaccines</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                       Edition date
                                    </th>
                                    
                                </thead>
                                <tbody>
                                   <tr *ngFor="let vaccine of vaccines">
                                        <td>
                                            {{vaccine.batch_id}}
                                        </td> <td>
                                            {{vaccine.name || '-'}}
                                        </td> <td>
                                            {{vaccine.description|| '-'}}
                                        </td> <td>
                                            {{vaccine.expiration_date|| '-'}}
                                        </td> 
                                       
                                   
                                        <!-- <td>
                                            {{patient.given_vaccines_ids}}
                                        </td>
                                        <td>
                                            {{patient.doses_received}}
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  