<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Add patient</h4>
                      <p class="card-category">Complete patient data</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input #first_name matInput placeholder="First Name" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input #last_name matInput placeholder="Last Name" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input #age matInput placeholder="Age" type="number">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input #gender matInput placeholder="Gender" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <br>

                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input #trial_start matInput placeholder="Trial start" type="date">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input #trial_end matInput placeholder="Trial end" type="date">
                                </mat-form-field>
                              </div>
                              </div>
                          <div class="row">
                             
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input #conditions matInput placeholder="Conditions (separate by ;)" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input #dose_number matInput placeholder="Dose number" type="number">
                                </mat-form-field>
                              </div>
                          </div>
                       
                          <button mat-raised-button type="submit" (click)="addPatient({
                            dose_number: dose_number.value,
                            trial_start:trial_start.value, 
                            trial_end:trial_end.value, 
                            first_name:first_name.value,
                            last_name:last_name.value,
                            age:age.value,
                            gender: gender.value,
                            conditions: conditions.value})" class="btn btn-danger pull-right">Add patient</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4" *ngIf="showAvailableConditions && availableConditions[0]">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Available conditions</h4>
                    <p class="card-category">Available conditions</p>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>Condition</th>
                            <th>Description</th>

                        </thead>
                        <tbody>
                            <tr *ngFor="let condition of availableConditions">
                                <td>{{condition.name}}</td>
                                <td>{{condition.description}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
          <!-- <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div> -->
      </div>
  </div>
</div>
