<style>
    /* You can add global styles to this file, and also import other style files */
.table-icon {
    width: 20px;
    height: 20px;
}
</style>
<div class="main-content">
    <div class="container-fluid">
        <div *ngIf="showEditPatient" class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Given Vaccines</h4>
                        <p class="card-category">Data on given vaccines</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Administration date</th>
                                <th>Expiration date</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let vaccine of currentPatientFullData.givenVaccines">
                                    <td>{{vaccine.ID}}</td>
                                    <td>{{vaccine.name}}</td>
                                    <td>{{vaccine.administration_date}}</td>
                                    <td>{{vaccine.expiration_date}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Patient conditions</h4>
                        <p class="card-category">Data on patient's known conditions</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>Condition</th>
                                <th>Description</th>
                                <th>Risk level</th>
                                <th>Observations</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let condition of currentPatientFullData.patientConditions">
                                    <td>{{condition.condition}}</td>
                                    <td>{{condition.description}}</td>
                                    <td>{{condition.risk_level}}</td>
                                    <td>{{condition.observations}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="showEditPatient" class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Edit patient</h4>
                        <p class="card-category">Complete patient data</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input #first_name matInput placeholder="First Name" type="text">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input #last_name matInput placeholder="Last Name" type="text">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input #age matInput placeholder="Age" type="number">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input #gender matInput placeholder="Gender" type="text">
                                  </mat-form-field>
                                </div>
                            </div>
                            <br>
  
                            <div class="row">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input #trial_start matInput placeholder="Trial start" type="date">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input #trial_end matInput placeholder="Trial end" type="date">
                                  </mat-form-field>
                                </div>
                                </div>
                            <div class="row">
                               
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input #given_vaccine matInput placeholder="Given vaccine" type="text">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input #dose_number matInput placeholder="Dose number" type="number">
                                  </mat-form-field>
                                </div>
                            </div>
                         
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="updatePatient({
                                id: currentEditedPatientID,
                                dose_number: dose_number.value,
                                given_vaccine: given_vaccine.value, 
                                trial_start:trial_start.value, 
                                trial_end:trial_end.value, 
                                first_name:first_name.value,
                                last_name:last_name.value,
                                age:age.value,
                                gender: gender.value})">Update patient</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Suffering side-effects</h4>
                        <p class="card-category">Data on suffering side-effects</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>Side effect</th>
                                <th>Description</th>
                                <th>Observations</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let sideEffect of currentPatientFullData.patientSideEffects">
                                    <td>{{sideEffect.side_effect}}</td>
                                    <td>{{sideEffect.description}}</td>
                                    <td>{{sideEffect.observations}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Active patients</h4>
                        <p class="card-category">Active patients mainlog</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Fist Name
                                    </th>
                                    <th>
                                        Last Name
                                    </th>
                                    <th>
                                        Age
                                    </th>
                                    <th>
                                        Gender
                                    </th>
                                    <th>
                                        Created at
                                    </th>
                                    <th>
                                        Trial Start
                                    </th>
                                    <th>
                                        Trial End
                                    </th>
                                </thead>
                                <tbody>
                                   <tr *ngFor="let patient of patientsList">
                                       <td>
                                           {{patient.ID}}
                                       </td>
                                       <td>
                                            {{patient.first_name}}
                                       </td>
                                       <td>
                                            {{patient.last_name}}
                                       </td>
                                       <td>
                                            {{patient.age}}
                                        </td>
                                        <td>
                                            {{patient.gender}}
                                        </td>
                                        <td>
                                            {{patient.created_at}}
                                        </td>
                                        <td>
                                            {{patient.trial_start}}
                                        </td>
                                        <td>
                                            {{patient.trial_end}}
                                        </td>
                                        <td>
                                            <img (click)="editPatientForm(patient)" class="table-icon" rel="icon" type="image/png" src="./../../assets/img/apple-icon.png" />
                                            <img (click)="deletePatient(patient)" class="table-icon" rel="icon" type="image/png" src="./../../assets/img/icons/trash.png" />
                                        </td>
                                        <!-- <td>
                                            {{patient.given_vaccines_ids}}
                                        </td>
                                        <td>
                                            {{patient.doses_received}}
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  